@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
    nav .list-menu {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    .list-menu a {
      font-size: 16px;
    }

    .info {
        background: #000;
    }
    .info h1 {
        font-size: 2
        6rem;
    }
    .info h2 {
        font-size: 1.3rem;
    }
    .info .icon {
        width: 1.3rem;
    }
    .cat-space {
        display: none;
    }
    
    main .project1-content {
      display: flex;
      flex-direction: column;
    }
    
    .project2-content {
      display: none;
    }
}