/* roots - color */
:root {

    /* color */
    --mid-dark: rgba(0, 0, 0, 0.9);
    --dark-color: #000;
    --light-color: #fff;
    --mid-light: #ccc;
    --purple-color: #711ead;
    /* fonts 
    font-family: 'Orbitron', sans-serif; /*fonte para textos grandes
    font-family: 'Space Mono', monospace; /* fontes para textos pequenos */
}

/* header inicio */
header {
    background: var(--mid-dark);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1
}

.cabecalho .logo {
    width: 2rem;
    filter: invert(1);
    object-fit: cover;
    margin-left: 30px;
}

.list-menu {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

.menu a {
    font-size: 1.2rem;
    color: var(--light-color);
    cursor: pointer;    transition: 0.1s ease-in;
}

.menu a:hover {
    border-bottom: 2px solid var(--purple-color);
}

/* inicio main */

main {
    width: 100%;
    position: relative;
    top: 100px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    background-color: var(--dark-color);
    background-image: url('/img/galaxia-noturna.jpg');
    background-position: center;
    background-size: cover;
}

.info h1 {
    font-size: 4.6rem;
    letter-spacing: 3px;
    text-shadow: 0px 8px 7px var(--purple-color);
    font-family: 'Space Mono', monospace;
    color: var(--light-color);
    margin: 10px;
}

.info h2 {
    color: var(--light-color);
    letter-spacing: 4px;
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
    margin: 10px;
}


.info a {
    text-transform: uppercase;
    color: var(--light-color);
} 

.info .icon {
    filter: invert(1);
    width: 2rem;
    margin-left: 40px;
    margin-top:28px;
    transition: all ease-in 0.2s;
}

.info .icon:hover {
    scale: 1.1;
    
}

.info .download img {
    filter: invert(1);
    width: 1.8rem;
}

.info .download {
    position: relative;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    color: var(--light-color);
    margin-left: 28px;
    top: -4px; 
    cursor: pointer;
}

.info .download:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background: purple;
    border-radius: 50px;
    transition: width 0.4s ease;
}

.info .download:hover:before {
    width: 100%;
}

.info .cat-space {
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* main - sobre */

.sobre {
    background: var(--dark-color);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 4px;
    margin: 15px;
    color: var(--light-color);
}

/* main - habilidades */

.hability {
    background-image: linear-gradient(to right, var(--dark-color), var(--mid-dark));
    transition: transform 0.5s ease-in-out;
    background-size: 400% 100%;
    animation: degrade 3s infinite alternate;
    text-align: center;
    color: var(--light-color);
}

.hability-content {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}
@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

.hability img {
    width: 30px;
    filter: invert(1);
}

.hability figure {
    transition: 0.3s ease-in;
}

.hability figure:hover {
    scale: 1.1;
}

.hability figcaption {
    text-transform: uppercase;
}

/* main - projetos */

.project {
    background: var(--dark-color);
    height: 100%;
    width: 100%;
}

.project1-content, .project2-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projeto {
    background: var(--mid-dark);
    width: 200px;
    height: 300px;
    box-shadow: 3px 2px 15px var(--purple-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 10px;
}


.projeto p {
    color: var(--light-color);
    font-family: 'Space Mono', monospace;
    margin: 5px;
    margin-top: 6.8rem;
    font-size: 13px;
}

.projeto a {
    color: var(--light-color);
    margin-top: 14px;
    font-size: 1.2rem;
    position: relative;
    font-weight: 600;
    margin-left: 28px;
    cursor: pointer;
}

.projeto a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 4px;
    width: 0;
    background: var(--purple-color);
    border-radius: 50px;
    transition: width 0.4s ease;
}

.projeto a:hover:before {
    width: 100%;
}

.projeto.primeiro {
    background-image: url('/img/projeto1-xmen.svg');
    background-repeat: no-repeat;
    background-size: 200px;
}

.projeto.segundo {
    background-image: url('/img/projeto2-scratch.jpg');
    background-repeat: no-repeat;
    background-size: 200px;
}


.projeto.terceiro {
    background-image: url('/img/the-last-of-us.jpg');
    background-repeat: no-repeat;
    background-size: 200px;
}
.projeto.quarto {
    background-image: url('/img/one-piece-logo.png');
    background-repeat: no-repeat;
    background-size: 200px;
}

.project2-content p {
    background: var(--mid-dark);
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: var(--light-color);
    font-family: 'Space Mono', monospace;
    margin-top: 0;
    font-size: 2.4rem;
    position: relative;
}

.project2-content p:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 5px;
    width: 0;
    border-radius: 50px;
    background: var(--purple-color);
    transition: width 0.4s ease;
}

.project2-content p:hover:before {
    width: 100%;
}

footer {
    background: var(--dark-color);
    width: 100%;
    height: 580px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    flex-direction: column;
}

/* footer */

footer .contato, .mensagem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    color: var(--light-color);
}

 .contato input {
    width: 290px;
    height: 50px;
    border: 2px solid var(--purple-color);
    border-radius: 10px;
    color: var(--light-color);
     outline-color: var(--purple-color); 
    box-shadow: -3px -3px 12px var(--mid-light);
    transition: .1s;
    background: var(--mid-dark);
    cursor: text;
    padding: 5px;
}

footer .contato input:focus {
    border: none;
    background: var(--mid-dark);
}
footer .contato input:valid {
    background: var(--mid-dark);
}

footer .contato input::placeholder {
    color: var(--light-color);
}

footer textarea {
    border: 3px solid var(--purple-color);
    border-radius: 10px;
    outline: none;
    box-shadow: -3px -3px 15px var(--mid-light);
    transition: .1s;
    transition-property: box-shadow;
    background: var(--mid-dark);
    color: var(--light-color);
    cursor: text;
}

footer label {
    margin: 8px;
    text-align: center;
    text-transform: uppercase;
}

footer button {
    border: none;
    color: var(--light-color);
    background-color: var(--purple-color);
    border-radius: 4px;
    width: 80px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
